@import "../scss/variables";
.about {
  text-align: center;
  background-color: $searchGreen;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 50%;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1rem;
  font-weight: 700;
  img {
    border-radius: 50%;
    width: 25%;
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .about {
    width: 75%;
  }
}
