.about {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: 700;
  img {
    border-radius: 50%;
    width: 25%;
    margin-bottom: 1rem;
  }
}
