@import "../scss/variables";
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $searchGreen;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  img {
    border-radius: 2rem;
    width: 20%;
  }
  ul.ingredients {
    height: 100px;
    overflow: auto;
    text-align: center;
    padding: 0.4rem 0;
    li {
      list-style: none;
      padding: 0;
      span {
        font-weight: bold;
      }
    }
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
