@import "../scss/variables";

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.2rem 1rem;
  background-color: $green;
  margin-bottom: 1rem;
  .logo {
    display: flex;
    align-items: center;
  }
  .list {
    display: flex;
    gap: 2rem;
    li {
      list-style: none;
      a {
        font-size: 1.4rem;
        color: $purple;
        font-weight: 500;
        text-decoration: none;
        padding: 0.5rem;
        border-radius: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 0.2rem 0;
    gap: 1rem;
    .logo {
      flex-direction: column;
      align-items: center;
      h1 {
        text-align: center;
      }
    }
    .list {
      display: flex;
      justify-content: center;
      padding: 0;
      text-align: center;
      gap: 0.2rem;
    }
  }
}
