@import "../scss/variables";

.search {
  text-align: center;
  button {
    margin: 1rem 1rem;
    width: 10rem;
  }
  .advanced {
    background-color: $searchGreen;
    color: $purple;
    text-align: center;
    box-shadow: 0 0 0.5rem 0.1rem $darkGreen;
    width: 75%;
    margin: 0 auto;
    border-radius: 0.5rem;
    padding: 1rem;
    button {
      margin-top: 1rem;
    }
    .advanced-title {
      color: $purple;
      text-align: center;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      letter-spacing: 1rem;
      h2 {
        font-size: 2.5rem;
      }
    }
    form.advanced-form {
      .advanced-query-sect {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          width: 50%;
          text-align: start;
          padding-left: 0.4rem;
          font-size: 1.5rem;
        }
        input {
          width: 50%;
          min-width: 150px;
          border-radius: 0.5rem;
          border: 1px solid $darkGreen;
          color: $purple;
          padding: 0.4rem 1rem 0.4rem 0.7rem;
          text-transform: capitalize;
          &:focus {
            outline: none;
          }
        }
      }
      .options {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 1rem;
        .opts {
          display: flex;
          flex-direction: column;
          select {
            width: 9rem;
            border: 1px solid $darkGreen;
            border-radius: 0.2rem;
            color: $darkGreen;
            option {
              color: $purple;
            }
          }
          label {
            font-size: 1.1rem;
            font-weight: 500;
            text-align: center;
          }
        }
      }
    }
  }
  .basic {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: $purple;
    box-shadow: 0 0 0.5rem 0.1rem $darkGreen;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: $searchGreen;
    .basic-title {
      text-align: center;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      letter-spacing: 1rem;
      h2 {
        font-size: 2.5rem;
      }
    }
    form.basic-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.2rem;
      label {
        width: 50%;
        text-align: start;
        padding-left: 0.4rem;
        font-size: 1.2rem;
      }
      input {
        width: 50%;
        min-width: 150px;
        border-radius: 0.5rem;
        border: 1px solid $darkGreen;
        color: $purple;
        padding: 0.4rem 1rem 0.4rem 0.7rem;
        text-transform: capitalize;
        &:focus {
          outline: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .search {
    button {
      width: 7rem;
    }
    .advanced {
      .advanced-title {
        h2 {
          font-size: 1.2rem;
          letter-spacing: 0.5rem;
        }
      }
    }
    .options {
      flex-direction: column;
      align-items: center;
    }

    .basic {
      .basic-title {
        h2 {
          font-size: 1.2rem;
          letter-spacing: 0.5rem;
        }
      }
    }
  }
}
